/* RESPONSIVIDADE */
@media (max-width: 900px) {
    #menu-lateral {
        width: 200px;
    }

    #home {
    width: calc(100% - 200px);
}
}

@media (max-width: 700px) {
    body {
        flex-direction: column;
    }

    #menu-lateral {
        position: relative;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #30363d;
    }

    #home {
        margin-left: 0;
    }

    .btn-follow {
        float: none;
        display: inline-block;
        margin: 10px 40px;
    }
}
